@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: yellowgreen;
  height:100vh ;
  width: 60vw;
  margin-left: 20rem;
  margin-right: 20rem;
}
.page-title{
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  
}
.logo{
  display: flex;
  /* border: 2px solid black; */
  gap: 3px;
}
.copyright{
  /* border: 2px solid white; */
  padding: 2px;
  font-size: 1rem;

}
.author-name{
  color: blue;
  /* border: 2px solid white; */
  padding: 2px;
  text-transform: capitalize;
}
.results{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  gap: 2rem;
  margin-right: 1.5rem;
}
.comp{
  /* border: 2px solid green; */
 display: flex;
justify-content: space-between;
 font-size: 1.5rem;

}
.person{
  /* border: 2px solid green; */
 display: flex;
 justify-content: space-between;
 font-size: 1.5rem;

}
.computer_part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  /* border: 2px solid black; */
}
.name{
  color: black;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5px;
  /* border: 2px solid red; */
}
.emoji{
  border: 3px dotted black;
  width: 8rem;
 height: 8rem;
 display: flex;
 justify-content: center;
 align-items: center;
 /* margin: 1rem; */
}
.emoji-img{
  font-size: 4rem;
}
.announcement{
  margin-top: 3.7rem;
  /* width: 100vw; */
  text-transform: capitalize;
  height: 4rem;
  background-color: rgb(242, 194, 68);
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-result{
  font-size: 2rem;
  font-weight: bold;
}
.human_part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* border: 2px solid black; */
}
.human_choices{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.button-choose{
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  font-size: 4rem;
}
.button-choose p{
  font-size: 1.5rem;
}
@media screen and (max-width:600px) {
  .logo{
    display: flex;
    flex-direction: column;
  }
  .button-choose{
    font-size: 2rem;

  }
  .button-choose p{
    font-size: 1rem;
  }
  .container{
  min-width: 100vw;
  margin: 0;
  }
  .results{
    font-size: 1rem;
    flex-direction: column;
  }
  .text-result{
    font-size: 1rem;
  }
}
@media screen and (max-width:900px) and (min-width:601px){
  .logo{
    display: flex;
    
  }
  .button-choose{
    font-size: 3rem;

  }
  .button-choose p{
    font-size: 1rem;
  }
  .container{
  min-width: 100vw;
  margin: 0;
  }
  .results{
    font-size: 1rem;
    flex-direction: column;
  }
  .text-result{
    font-size: 1rem;
  }
}
